# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Localize
      run: sh translate.sh
    - name: Build
      run: |
        cd hk-split-maker
        npm ci
        npm run build-prod
        cd ..
    - name: Deploy to GitHub Pages
      if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
      uses: JamesIves/github-pages-deploy-action@v4.2.2
      with: 
        branch: gh-pages
        folder: hk-split-maker/dist
        git-config-name: 'github-actions[bot]'
        git-config-email: '41898282+github-actions[bot]@users.noreply.github.com'
        single-commit: true
